.user-panel {
  width: 200px;
  height: 300px;
  border: 1px solid aliceblue;
  position: absolute;
  background-color: aliceblue;
  color: black;
  z-index: 1;
  //right: 130px;
  right: 25px;
  top: 90px;
}
