.app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #718792;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  li,
  a,
  button {
    font-family: sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
  li {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
  }
  a {
    transition: all 0.3s ease 0s;
    &:hover {
      color: #0088a9;
    }
  }
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
