@import "src/styles/variables";

.gallery-box {
  width: 25%;
  min-height: 330px;
  a {
    text-decoration: none;
    color: $white-font;
  }
  &:hover {
    opacity: 0.85;
  }

  .picture-box {
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  &__info {
    span {
      height: 130px;
    }

    .date {
      text-align: right;
      font-weight: 100;
    }
  }
}

.background-color {
  background-color: $gray;
}
