.images-container {
  width: 408px;
}

.small-image {
  width: 200px;
  height: 205px;
  background-size: cover;
  background-position: center;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
