@import "src/styles/variables";

.main-photo {
  width: 600px;
  height: 420px;
  background-size: cover;
  background-position: center;
}

.vertical-line {
  width: 1px;
  height: auto;
  border-left: 1px solid $white-font;
}

.others-images {
  width: 408px;
}

.small-image {
  width: 200px;
  height: 205px;
  background-size: cover;
  background-position: center;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
