@import "src/styles/variables";

.main-photo {
  width: 600px;
  height: 420px;
  background-size: cover;
  background-position: center;
}

.vertical-line {
  width: 1px;
  height: auto;
  border-left: 1px solid $white-font;
}
